.y-c-icon.normal {
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
}

.y-c-icon.ext {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
